<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <img src="/assets/img/clipart1434379.png" class="img-fluid" alt="spongebob">
        <h1>Burger Time</h1>
        <p>This sponge is looking to try new types of burgers. You can eat burgers, bring back burgers that have
            previously been eaten or add your own custom burgers!</p>
    </div>
    <div class="row">
        <div class="col-lg-6 d-flex align-items-stretch">
            <div class="card p-2">
                <h2>Burgers that have not been eaten!</h2>
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devour=false}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch">
            <div class="card p-2">
                <h2>Burgers that have been eaten!</h2>
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devour=true}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <h2>Add a burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="Bur">Burger Name:</label>
            <input type="text" id="newBurger" name="name">
        </div>

        <button type="submit" class="rounded-pill">Add Burger</button>
    </form>
</div>