<li class="p-1 list-group-item">
    {{burger_name}}

    <button class="change-devour rounded-pill" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}Put back on list!{{else}}Eat it!{{/if}}
    </button>
</li>